BTrees==4.1.2
SQLAlchemy==1.0.2
ZConfig==3.0.4
ZODB==4.1.0
argparse==1.2.1
flake8==2.4.0
ipython==3.1.0
mccabe==0.3
pep8==1.5.7
persistent==4.0.9
pyflakes==0.8.1
six==1.9.0
transaction==1.4.3
wsgiref==0.1.2
zc.lockfile==1.1.0
zdaemon==4.1.0
zope.interface==4.1.2
